<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>Mypackage.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Mypackage.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Book</servlet-name>
        <servlet-class>Mypackage.Add_Book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Book</servlet-name>
        <servlet-class>Mypackage.Delete_Book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit_Book</servlet-name>
        <servlet-class>Mypackage.Edit_Book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View_Book</servlet-name>
        <servlet-class>Mypackage.View_Book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_SignUp</servlet-name>
        <servlet-class>Mypackage.User_SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Login</servlet-name>
        <servlet-class>Mypackage.User_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View_Cart</servlet-name>
        <servlet-class>Mypackage.View_Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View_Book_UserDashboard</servlet-name>
        <servlet-class>Mypackage.View_Book_UserDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>Mypackage.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCart</servlet-name>
        <servlet-class>Mypackage.RemoveFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download_Book_PDF</servlet-name>
        <servlet-class>Mypackage.Download_Book_PDF</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Book</servlet-name>
        <url-pattern>/Add_Book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Book</servlet-name>
        <url-pattern>/Delete_Book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit_Book</servlet-name>
        <url-pattern>/Edit_Book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View_Book</servlet-name>
        <url-pattern>/View_Book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_SignUp</servlet-name>
        <url-pattern>/User_SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Login</servlet-name>
        <url-pattern>/User_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View_Cart</servlet-name>
        <url-pattern>/View_Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View_Book_UserDashboard</servlet-name>
        <url-pattern>/View_Book_UserDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCart</servlet-name>
        <url-pattern>/RemoveFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download_Book_PDF</servlet-name>
        <url-pattern>/Download_Book_PDF</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>